body{
	overflow-x: hidden;
}

#book_a_package{
	padding: 40px;
}

#top{

	background-color: blue;
	color: white;
}

hr{
	background-color: white;
	padding: 1px;
	width: 50%;
}
h1,h3{
	text-align: right;
}

h3{
	text-align: center;
}